# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
app = "ztunnel-relay"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  RUST_LOG = "info"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
